body{

    text-align: center;
    background-image: url("./mario-bg.jpg");
    background-size: cover;
}
#board{
    background: url("./soil.png");
    height: 450px;
    width:450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    border-radius: 20px;
    border: 5px solid rgb(217, 204, 204);
}

#board div 
{
    height: 150px;
    width: 150px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img
{
    width: 100px;
    height: 100px;

}

#board div img
{
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.restart{

    height: 50px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    font-size: larger;
    font-style:italic;
    border-radius: 10px;
    background : linear-gradient(rgb(255, 187, 0),rgb(101, 247, 249));
}

.restart:hover{
     background:linear-gradient(rgb(182, 139, 23),rgb(42, 186, 188));
}
